@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    background-color: var(--backgroun-color);
    max-width: 100vw;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: var(--gen-text-color);
}

main {
    background-color: var(--backgroun-color);
    width: 100%;
    height: auto;
    background-image: radial-gradient(currentColor 1px, transparent 1px), radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(80 * 0.6px) calc(80 * 0.6px);
    background-position: 0 0, calc(40 * 0.6px) calc(40 * 0.6px);
    color: var(--gen-point-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
header, nav, ul {
    display: flex;
    align-items: center;
    font-size: 12px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 25px;
}
li a {
    color: var(--header-text-color);
}
li:hover, #github:hover, li a:hover {
    color: var(--gen-text-color);
    cursor: pointer;
}
header {
    background-color: var(--backgroun-color);
    color: var(--header-text-color);
    border-bottom: solid 0.5px var(--gen-color-border);
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 100;
}
.header_comp {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px 20px;
}
#github {
    color: var(--gen-text-color);
    display: flex;
    justify-content: center;
}
#github svg {
    fill: var(--gen-text-color);
    width: 24px;
    height: 24px;
}
#isearch {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--header-color-search);
    border: none;
    color: var(--gen-text-color);
    padding: .2rem .5rem;
    font-size: 12px;
}
#logo{
    font-family: sans-serif;
    font-stretch: extra-expanded;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}
#logo:hover {
    cursor: pointer;
    text-shadow: var(--gen-text-color) 0px 0px 0.2px;
}

#general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}
#me {
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
#title {
    font-size: 100px;
    color: var(--gen-text-color);
    font-weight: 600;
    margin: 20px 20px;
}
#profileimg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#me_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}
#subtitle {
    color: var(--gen-subtext-color-secundary);
    font-size: 25px;
}
#names {
    color: var(--gen-subtext-color-secundary);
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

#links_cont {
    width: auto;
    height: auto;
    padding: 0.6rem 1rem;
    background-color: var(--links-color-background);
    border: var(--links-color-border) solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.links {
    color: var(--links-color-text);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links:hover, .link_p:hover {
    cursor: pointer;
    text-shadow: var(--links-color-text) 0px 0px 0.6px;
}
.links svg {
    fill: var(--links-color-text);
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

#me_desc {
    width: 75%;
    color: var(--gen-text-color);
    font-size: 16px;
    font-weight: 400;
    font-stretch: ultra-expanded;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#links {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#proj_cont {
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-self: flex-start;
    flex-direction: column;
}
#proj_title {
    width: 100%;
    font-size: 30px;
    color: var(--gen-text-color);
    font-weight: 500;
    padding: 15px 0px;
    border-bottom: var(--gen-color-border) solid 0.5px;    
}
#projs {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-self: center;
    gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}
.project_card {
    min-width: calc(100% - 40px);
    height: auto;
    background-color: var(--proj-color-background);
    border: var(--proj-color-border) solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    padding: 20px;
}
.project_card_p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links_p_cont {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    flex-wrap: wrap;
    gap: .5rem;
}
.link_p {
    width: fit-content;
    height: 2rem;
    padding: 0.05rem 0.5rem;
    background-color: var(--links-color-background);
    border: var(--links-color-border) solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--links-color-text);
    font-weight: 600;
    font-size: 14px;
}
.desc_p {
    font-weight: 400;
    color: var(--gen-text-color);
}
.title_p {
    color: var(--gen-text-color);
    font-weight: 500;
    font-size: 20px;
}
.img_p {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.img_p img {
    width: 100%;
    border-radius: 5px;
}
.img_p_zoom {
    display: none;
    position: absolute;
    margin: 5px;
    font-size: 1.5rem;
}
.img_p_zoom svg, .zoom_view svg {
    color: var(--gen-subtext-color-secundary);
}
.img_p:hover {
    cursor: pointer;
}
.img_p:hover .img_p_zoom {
    display: block;
}

footer {
    width: 100%;
    height: 180px;
    background-color: var(--footer-color-background);
    border-top: var(--footer-color-border) solid 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    color: var(--footer-color-text);
}
#theme_cont {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    gap: 10px;
    border-bottom: var(--gen-color-border) solid 1px;
}
#themeb {
    margin: 0px 10px;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    background-color: var(--footer-color-background);
    color: var(--footer-color-text);
    font-weight: 600;
    font-size: 0.8rem;
}
#themeb:hover {
    cursor: pointer;
    background-color: var(--footer-color-button);
    color: var(--gen-text-color);
}
#credits_cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
#credits_cont div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}
#credits_cont a svg {
    fill: var(--footer-color-text);
    width: 8rem;
    height: 2rem;
}
#swc_cred {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.3rem;
    margin-bottom: 5px;
    font-size: 0.8rem;
}
#swc_cred a {
    color: var(--footer-color-text);
    font-weight: 500;
    margin-right: 10px;
}
#swc_cred a:hover {
    color: var(--gen-text-color);
}

#view_img_cont {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: var(--view-color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
#view_img_cont:hover {
    cursor: pointer;
}
#view_img {
    display: flex;
    justify-content: center;
}
#view_img img {
    width: 90%;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
}
.zoom_view {
    position: absolute;
    z-index: 101;
    font-size: 1.5rem;
    bottom: 20px;
    right: calc(50% - 0.75rem);
}

.head_p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.lang_c {
    display: flex;
    align-items: center;
    gap: 5px;
}
.lang svg {
    fill: var(--gen-subtext-color-secundary);
    width: 1.2rem;
    height: auto;
}

@media (max-width: 800px) {
    #logo {
        width: fit-content;
        margin: 0px;
        margin-left: 20px;
        font-size: 0.8rem;
    }
    header {
        gap: 5px;
    }
    .header_comp {
        margin: 0px 15px;
    }
    #title {
        font-size: 2.5rem;
    }
    #proj_title {
        font-size: 1.8rem;
    }
    #subtitle, #me_desc, #links_cont, .desc_p {
        font-size: 1rem;
    }
    #names {
        font-size: 0.8rem;
    }
    .link_p, .links {
        font-size: 0.9rem;
    }

    #me {
        gap: 0px;
    }
    #me_desc {
        width: 100%;
    }
    #profileimg {
        display: none;
    }
    #isearch {
        width: 80px;
    }   
    ul {
        gap: 10px;
        margin-right: 15px;
    }
}

@media (max-width: 450px) {
    #projs {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
    }
}